In [1]:
#checking the gpu status
!nvidia-smi

Mon Mar 21 21:26:07 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 511.79       Driver Version: 511.79       CUDA Version: 11.6     |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  NVIDIA GeForce ... WDDM  | 00000000:01:00.0 Off |                  N/A |
| N/A   52C    P8    N/A /  N/A |     84MiB /  4096MiB |      5%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|    0   N/A  N/A     23216    C+G   ...4__8j3eq9eme6ctt\IGCC.exe    N/A      |
|    0   N/A  N/A     23308    C+G   ...ser\Application\brave.exe    N/A      |
+-----------------------------------------------------------------------------+

In [2]:
#importing dependencies
import pandas as pd ,numpy as np 

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
%autosave 1

Autosaving every 1 seconds

In [3]:
train_csv = pd.read_csv('D:/Dataset/planets_dataset/planet/planet/train_classes.csv')
train_csv

        image_name                                           tags
0          train_0                                   haze primary
1          train_1                agriculture clear primary water
2          train_2                                  clear primary
3          train_3                                  clear primary
4          train_4      agriculture clear habitation primary road
...            ...                                            ...
40474  train_40474                                  clear primary
40475  train_40475                                         cloudy
40476  train_40476                      agriculture clear primary
40477  train_40477                 agriculture clear primary road
40478  train_40478  agriculture cultivation partly_cloudy primary

[40479 rows x 2 columns]

In [4]:
labels = set()

def split_the_tags(tags):
    for tag in tags.split():
        labels.add(tag)
        
train_csv_copy = train_csv.copy(deep=True)
train_csv_copy['tags'].apply(split_the_tags)

print(labels,end='')

{'cloudy', 'agriculture', 'water', 'cultivation', 'blow_down', 'selective_logging', 'haze', 'clear', 'blooming', 'bare_ground', 'road', 'partly_cloudy', 'habitation', 'conventional_mine', 'artisinal_mine', 'primary', 'slash_burn'}

In [5]:
for tag in labels:
    train_csv_copy[tag] = train_csv_copy['tags'].apply(lambda x: 1 if tag in x.split() else 0)
    
train_csv_copy

,image_name,tags,cloudy,agriculture,water,cultivation,blow_down,selective_logging,haze,clear,blooming,bare_ground,road,partly_cloudy,habitation,conventional_mine,artisinal_mine,primary,slash_burn
0,train_0,haze primary,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
1,train_1,agriculture clear primary water,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0
2,train_2,clear primary,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
3,train_3,clear primary,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
4,train_4,agriculture clear habitation primary road,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40474,train_40474,clear primary,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
40475,train_40475,cloudy,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
40476,train_40476,agriculture clear primary,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
40477,train_40477,agriculture clear primary road,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0
40478,train_40478,agriculture cultivation partly_cloudy primary,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0

In [6]:
train_csv_copy['image_name'] = train_csv_copy['image_name'].apply(lambda x: f'{x}.jpg')
train_csv_copy

,image_name,tags,cloudy,agriculture,water,cultivation,blow_down,selective_logging,haze,clear,blooming,bare_ground,road,partly_cloudy,habitation,conventional_mine,artisinal_mine,primary,slash_burn
0,train_0.jpg,haze primary,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
1,train_1.jpg,agriculture clear primary water,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0
2,train_2.jpg,clear primary,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
3,train_3.jpg,clear primary,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
4,train_4.jpg,agriculture clear habitation primary road,0,1,0,0,0,0,0,1,0,0,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40474,train_40474.jpg,clear primary,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
40475,train_40475.jpg,cloudy,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
40476,train_40476.jpg,agriculture clear primary,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
40477,train_40477.jpg,agriculture clear primary road,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0
40478,train_40478.jpg,agriculture cultivation partly_cloudy primary,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0

In [7]:
#importing tensorflow libraries 
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam, SGD
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint, TensorBoard
from tensorflow.keras.layers import Dense, BatchNormalization, Conv2D, MaxPooling2D, Dropout, Flatten

In [8]:
#for the analysis we only need columns after index 2
columns = list(train_csv_copy.columns[2:])
print(columns,end='')

['cloudy', 'agriculture', 'water', 'cultivation', 'blow_down', 'selective_logging', 'haze', 'clear', 'blooming', 'bare_ground', 'road', 'partly_cloudy', 'habitation', 'conventional_mine', 'artisinal_mine', 'primary', 'slash_burn']

In [9]:
#function for f1 scoring
def f1_score_fun(y_true, y_pred, beta = 2, epsilon = 1e-4):
    
    beta_squared = beta**2
    
    y_true = tf.cast(y_true, tf.float32)
    y_pred = tf.cast(tf.greater(tf.cast(y_pred, tf.float32), tf.constant(0.5)), tf.float32)
    
    tp = tf.reduce_sum(y_true * y_pred, axis = 1)
    fp = tf.reduce_sum(y_pred, axis = 1) - tp
    fn = tf.reduce_sum(y_true, axis = 1) - tp
    
    precision = tp/(tp+fp+epsilon)
    recall = tp/(tp+fn+epsilon)
    
    fb = (1+beta_squared)*precision*recall / (beta_squared*precision+recall+epsilon)
    return fb

In [10]:
#function for accuracy for multi_label classification
def accuracy_fun(y_true, y_pred, epsilon = 1e-4):
    
    y_true = tf.cast(y_true, tf.float32)
    y_pred = tf.cast(tf.greater(tf.cast(y_pred, tf.float32), tf.constant(0.5)), tf.float32)
    
    tp = tf.reduce_sum(y_true * y_pred, axis = 1)
    fp = tf.reduce_sum(y_pred, axis = 1) - tp
    fn = tf.reduce_sum(y_true, axis = 1) - tp
    
    y_true = tf.cast(y_true, tf.bool)
    y_pred = tf.cast(y_pred, tf.bool)
        
    tn = tf.reduce_sum(tf.cast(tf.logical_not(y_true), tf.float32) * tf.cast(tf.logical_not(y_pred), tf.float32), 
                       axis = 1)
    return (tp+tn)/(tp+tn+fp+fn+epsilon)

In [11]:
#defining our model using a function build_model()
def build_model():
    model = Sequential()
    model.add(BatchNormalization(input_shape=(128, 128, 3)))
    model.add(Conv2D(32, kernel_size=(3, 3), padding='same', activation='relu'))
    model.add(Conv2D(32, kernel_size=(3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.2))

    model.add(Conv2D(64, kernel_size=(3, 3), padding='same', activation='relu'))
    model.add(Conv2D(64, kernel_size=(3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.2))

    model.add(Conv2D(128, kernel_size=(3, 3), padding='same', activation='relu'))
    model.add(Conv2D(128, kernel_size=(3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.2))

    model.add(Conv2D(256, kernel_size=(3, 3), padding='same', activation='relu'))
    model.add(Conv2D(256, kernel_size=(3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.2))

    model.add(Flatten())
    model.add(Dense(512, activation='relu'))
    model.add(Dropout(0.5))
    model.add(Dense(17, activation='sigmoid'))

    model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=[f1_score_fun,accuracy_fun])

    return model

In [12]:
# saving best checkpoints 
save_best_check_point= ModelCheckpoint(filepath = 'best_model.hdf5', monitor = 'val_f1_score_fun', mode = 'max',
                                       save_best_only = True, save_weights_only = True)

In [13]:
#initializing imagedatagenerator with a validation split of 0.2
image_gen_train = ImageDataGenerator(rescale = 1/255, validation_split = 0.2)

# train_set contains 80 percent of images
train_gen = image_gen_train.flow_from_dataframe(dataframe=train_csv_copy,
                                                directory ="D:/Dataset/planets_dataset/planet/planet/train-jpg",  
                                                x_col="image_name", y_col=columns, subset="training", 
                                                batch_size=200,seed=2021, shuffle=True, 
                                                class_mode="raw", target_size=(128,128))

#while val_set contains 20 percent of images 
val_gen = image_gen_train.flow_from_dataframe(dataframe=train_csv_copy,
                                                directory ="D:/Dataset/planets_dataset/planet/planet/train-jpg",  
                                                x_col="image_name", y_col=columns, subset="validation", 
                                                batch_size=200,seed=2021, shuffle=True, 
                                                class_mode="raw", target_size=(128,128))

Found 32384 validated image filenames.
Found 8095 validated image filenames.

In [14]:
#setting up step size for training and validation image data
steps_for_train = int(np.ceil(train_gen.samples / train_gen.batch_size))
steps_for_val = int(np.ceil(val_gen.samples / val_gen.batch_size))

In [15]:
model_testing = build_model()
#this is how our model looks 
model_testing.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
batch_normalization (BatchNo (None, 128, 128, 3)       12
_________________________________________________________________
conv2d (Conv2D)              (None, 128, 128, 32)      896
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 126, 126, 32)      9248
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 63, 63, 32)        0
_________________________________________________________________
dropout (Dropout)            (None, 63, 63, 32)        0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 63, 63, 64)        18496
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 61, 61, 64)        36928
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 30, 30, 64)        0
_________________________________________________________________
dropout_1 (Dropout)          (None, 30, 30, 64)        0
_________________________________________________________________
conv2d_4 (Conv2D)            (None, 30, 30, 128)       73856
_________________________________________________________________
conv2d_5 (Conv2D)            (None, 28, 28, 128)       147584
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 14, 14, 128)       0
_________________________________________________________________
dropout_2 (Dropout)          (None, 14, 14, 128)       0
_________________________________________________________________
conv2d_6 (Conv2D)            (None, 14, 14, 256)       295168
_________________________________________________________________
conv2d_7 (Conv2D)            (None, 12, 12, 256)       590080
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 6, 6, 256)         0
_________________________________________________________________
dropout_3 (Dropout)          (None, 6, 6, 256)         0
_________________________________________________________________
flatten (Flatten)            (None, 9216)              0
_________________________________________________________________
dense (Dense)                (None, 512)               4719104
_________________________________________________________________
dropout_4 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_1 (Dense)              (None, 17)                8721
=================================================================
Total params: 5,900,093
Trainable params: 5,900,087
Non-trainable params: 6
_________________________________________________________________

In [16]:
%%time
#fitting the model
r = model_testing.fit(
    x=train_gen,
    steps_per_epoch=steps_for_train,
    validation_data=val_gen,
    validation_steps=steps_for_val,
    epochs=15,
    callbacks=[save_best_check_point],
    workers=-1,
    use_multiprocessing=True,
)

Epoch 1/15
162/162 [==============================] - 241s 1s/step - loss: 0.2548 - f1_score_fun: 0.6544 - accuracy_fun: 0.9040 - val_loss: 0.2374 - val_f1_score_fun: 0.6513 - val_accuracy_fun: 0.9087
Epoch 2/15
162/162 [==============================] - 178s 1s/step - loss: 0.1845 - f1_score_fun: 0.7537 - accuracy_fun: 0.9283 - val_loss: 0.1863 - val_f1_score_fun: 0.7293 - val_accuracy_fun: 0.9266
Epoch 3/15
162/162 [==============================] - 177s 1s/step - loss: 0.1590 - f1_score_fun: 0.7929 - accuracy_fun: 0.9376 - val_loss: 0.1417 - val_f1_score_fun: 0.8094 - val_accuracy_fun: 0.9437
Epoch 4/15
162/162 [==============================] - 182s 1s/step - loss: 0.1473 - f1_score_fun: 0.8060 - accuracy_fun: 0.9414 - val_loss: 0.1358 - val_f1_score_fun: 0.8189 - val_accuracy_fun: 0.9455
Epoch 5/15
162/162 [==============================] - 181s 1s/step - loss: 0.1361 - f1_score_fun: 0.8244 - accuracy_fun: 0.9459 - val_loss: 0.1267 - val_f1_score_fun: 0.8425 - val_accuracy_fun: 0.9505
Epoch 6/15
162/162 [==============================] - 182s 1s/step - loss: 0.1304 - f1_score_fun: 0.8350 - accuracy_fun: 0.9487 - val_loss: 0.1247 - val_f1_score_fun: 0.8498 - val_accuracy_fun: 0.9513
Epoch 7/15
162/162 [==============================] - 182s 1s/step - loss: 0.1247 - f1_score_fun: 0.8445 - accuracy_fun: 0.9506 - val_loss: 0.1182 - val_f1_score_fun: 0.8591 - val_accuracy_fun: 0.9543
Epoch 8/15
162/162 [==============================] - 181s 1s/step - loss: 0.1205 - f1_score_fun: 0.8527 - accuracy_fun: 0.9527 - val_loss: 0.1155 - val_f1_score_fun: 0.8624 - val_accuracy_fun: 0.9557
Epoch 9/15
162/162 [==============================] - 179s 1s/step - loss: 0.1159 - f1_score_fun: 0.8596 - accuracy_fun: 0.9546 - val_loss: 0.1112 - val_f1_score_fun: 0.8678 - val_accuracy_fun: 0.9572
Epoch 10/15
162/162 [==============================] - 185s 1s/step - loss: 0.1130 - f1_score_fun: 0.8643 - accuracy_fun: 0.9558 - val_loss: 0.1129 - val_f1_score_fun: 0.8676 - val_accuracy_fun: 0.9572
Epoch 11/15
162/162 [==============================] - 230s 1s/step - loss: 0.1101 - f1_score_fun: 0.8693 - accuracy_fun: 0.9571 - val_loss: 0.1104 - val_f1_score_fun: 0.8732 - val_accuracy_fun: 0.9565
Epoch 12/15
162/162 [==============================] - 500s 3s/step - loss: 0.1078 - f1_score_fun: 0.8717 - accuracy_fun: 0.9581 - val_loss: 0.1094 - val_f1_score_fun: 0.8687 - val_accuracy_fun: 0.9576
Epoch 13/15
162/162 [==============================] - 231s 1s/step - loss: 0.1041 - f1_score_fun: 0.8769 - accuracy_fun: 0.9592 - val_loss: 0.1087 - val_f1_score_fun: 0.8745 - val_accuracy_fun: 0.9590
Epoch 14/15
162/162 [==============================] - 179s 1s/step - loss: 0.1014 - f1_score_fun: 0.8797 - accuracy_fun: 0.9603 - val_loss: 0.1085 - val_f1_score_fun: 0.8741 - val_accuracy_fun: 0.9586
Epoch 15/15
162/162 [==============================] - 179s 1s/step - loss: 0.0986 - f1_score_fun: 0.8834 - accuracy_fun: 0.9612 - val_loss: 0.1062 - val_f1_score_fun: 0.8818 - val_accuracy_fun: 0.9595
CPU times: total: 45min 44s
Wall time: 53min 9s

In [17]:
#making another model with which we can make predictions 
model_submission = build_model()

In [18]:
#our images don't have .jpg extensions so we need to add those extensions 
submisssion_file = pd.read_csv('D:/Dataset/planets_dataset/planet/planet/sample_submission.csv')
submisssion_file = submisssion_file.copy()
submisssion_file['image_name'] = submisssion_file['image_name'].apply(lambda x: '{}.jpg'.format(x))
submisssion_file

          image_name                                  tags
0         test_0.jpg  primary clear agriculture road water
1         test_1.jpg  primary clear agriculture road water
2         test_2.jpg  primary clear agriculture road water
3         test_3.jpg  primary clear agriculture road water
4         test_4.jpg  primary clear agriculture road water
...              ...                                   ...
61186  file_9995.jpg  primary clear agriculture road water
61187  file_9996.jpg  primary clear agriculture road water
61188  file_9997.jpg  primary clear agriculture road water
61189  file_9998.jpg  primary clear agriculture road water
61190  file_9999.jpg  primary clear agriculture road water

[61191 rows x 2 columns]

In [19]:
#loading in the weights of the our best_model so that we can make predictions with it
model_submission.load_weights('best_model.hdf5')

In [20]:
#we divide the submission file into two splits as the image names after 40669 is different 
test_df1 = submisssion_file.iloc[:40669]['image_name'].reset_index().drop('index', axis =1)
test_df1

           image_name
0          test_0.jpg
1          test_1.jpg
2          test_2.jpg
3          test_3.jpg
4          test_4.jpg
...               ...
40664  test_40664.jpg
40665  test_40665.jpg
40666  test_40666.jpg
40667  test_40667.jpg
40668  test_40668.jpg

[40669 rows x 1 columns]

In [21]:
#initializing imagedatagenerator for the test images and also rescaling
image_gen_test = ImageDataGenerator(rescale = 1/255)


#creating a generator 
test_df_gen = image_gen_test.flow_from_dataframe(dataframe=test_df1, 
                                                directory="D:/Dataset/planets_dataset/planet/planet/test-jpg", 
                                                x_col="image_name", y_col=None, batch_size=200, 
                                                shuffle=False, class_mode=None, target_size=(128,128))
#defining step fun
step_test_size_submission = int(np.ceil(test_df_gen.samples/test_df_gen.batch_size))

Found 40669 validated image filenames.

In [22]:
#reseting gen to avoid shuffling
test_df_gen.reset()
pred1 = model_submission.predict(test_df_gen, steps = step_test_size_submission, verbose = 1,workers=-1,use_multiprocessing=True)

204/204 [==============================] - 121s 595ms/step

In [23]:
file_names1 = test_df_gen.filenames

pred_tags1 = pd.DataFrame(pred1)

#if the value is greter than .5 then it'll b etreated as 1 else 0
for x in range(len(columns)):
    pred_tags1[x]  = pred_tags1[x].apply(lambda x : 1 if x >.5 else 0) 
    
pred_tags1.rename(columns = {0:'conventional_mine',1:'artisinal_mine',
2:'water', 3:'partly_cloudy',4:'bare_ground', 5:'cultivation',6:'selective_logging',7:'blow_down',8:'primary',9:'clear',10:'agriculture',11:'slash_burn',12:'haze',13:'blooming',14:'habitation',15:'cloudy',16:'road'}, inplace = True)

for x in pred_tags1:
    pred_tags1[x].replace(1,x,inplace=True)
    
pred_tags1['tags'] = pd.Series(pred_tags1.replace(0,"").values.tolist()).str.join(' ')

result1 = pd.DataFrame({'image_name': file_names1, 'tags': pred_tags1['tags']})
result1

           image_name                                               tags
0          test_0.jpg                           blow_down        cloudy
1          test_1.jpg                           blow_down        cloudy
2          test_2.jpg                              slash_burn    cloudy
3          test_3.jpg                           blow_down        cloudy
4          test_4.jpg                              slash_burn    cloudy
...               ...                                                ...
40664  test_40664.jpg                           blow_down        cloudy
40665  test_40665.jpg   artisinal_mine      blow_down   agriculture  ...
40666  test_40666.jpg       artisinal_mine      blow_down        cloudy
40667  test_40667.jpg                              slash_burn    cloudy
40668  test_40668.jpg                           blow_down        cloudy

[40669 rows x 2 columns]

In [24]:
#second batch of the test dataset
test_df1 = submisssion_file.iloc[40669:]['image_name'].reset_index().drop('index', axis =1)
test_df1

          image_name
0         file_0.jpg
1         file_1.jpg
2        file_10.jpg
3       file_100.jpg
4      file_1000.jpg
...              ...
20517  file_9995.jpg
20518  file_9996.jpg
20519  file_9997.jpg
20520  file_9998.jpg
20521  file_9999.jpg

[20522 rows x 1 columns]

In [25]:
#dealing with the remaing images
test_df_gen1 = image_gen_test.flow_from_dataframe(dataframe=test_df1, 
                                                directory="D:/Dataset/planets_dataset/test-jpg-additional/test-jpg-additional", 
                                                x_col="image_name", y_col=None, batch_size=200, 
                                                shuffle=False, class_mode=None, target_size=(128,128))

step_test_size_submission2 = int(np.ceil(test_df_gen1.samples/test_df_gen1.batch_size))

Found 20522 validated image filenames.

In [26]:
#again reseting to avoid shuffle
test_df_gen1.reset()
pred2 = model_submission.predict(test_df_gen1, steps = step_test_size_submission2, verbose = 1,workers=-1,use_multiprocessing=True)

103/103 [==============================] - 50s 485ms/step

In [27]:
file_names2 = test_df_gen1.filenames

pred_tags2 = pd.DataFrame(pred2)

for x in range(len(columns)):
    pred_tags2[x]  = pred_tags2[x].apply(lambda x : 1 if x >.5 else 0) 
    
pred_tags2.rename(columns = {0:'conventional_mine',1:'artisinal_mine',
2:'water', 3:'partly_cloudy',4:'bare_ground', 5:'cultivation',6:'selective_logging',7:'blow_down',8:'primary',9:'clear',10:'agriculture',11:'slash_burn',12:'haze',13:'blooming',14:'habitation',15:'cloudy',16:'road'}, inplace = True)

for x in pred_tags2:
    pred_tags2[x].replace(1,x,inplace=True)
    
pred_tags2['tags'] = pd.Series(pred_tags2.replace(0,"").values.tolist()).str.join(' ')

result2 = pd.DataFrame({'image_name': file_names2, 'tags': pred_tags2['tags']})
result2

          image_name                                               tags
0         file_0.jpg                           blow_down        cloudy
1         file_1.jpg      artisinal_mine          slash_burn    cloudy
2        file_10.jpg    water    selective_logging    agriculture   ...
3       file_100.jpg                 water     blow_down        cloudy
4      file_1000.jpg                           blow_down        cloudy
...              ...                                                ...
20517  file_9995.jpg                              slash_burn    cloudy
20518  file_9996.jpg                 water     blow_down        cloudy
20519  file_9997.jpg                 water     blow_down        cloudy
20520  file_9998.jpg                  conventional_mine
20521  file_9999.jpg            blow_down   agriculture  haze   cloudy

[20522 rows x 2 columns]

In [28]:
#concatinating both the results
last_result = pd.concat([result1, result2])

last_result = last_result.reset_index().drop('index', axis =1)

last_result

          image_name                                            tags
0         test_0.jpg                        blow_down        cloudy
1         test_1.jpg                        blow_down        cloudy
2         test_2.jpg                           slash_burn    cloudy
3         test_3.jpg                        blow_down        cloudy
4         test_4.jpg                           slash_burn    cloudy
...              ...                                             ...
61186  file_9995.jpg                           slash_burn    cloudy
61187  file_9996.jpg              water     blow_down        cloudy
61188  file_9997.jpg              water     blow_down        cloudy
61189  file_9998.jpg               conventional_mine
61190  file_9999.jpg         blow_down   agriculture  haze   cloudy

[61191 rows x 2 columns]

In [29]:
#we need to remove the .jpg extension from the image_name of the last_result because in the sample submission it was not there 
last_result['image_name'] = last_result['image_name'].apply(lambda x: x[:-4])
last_result

      image_name                                            tags
0         test_0                        blow_down        cloudy
1         test_1                        blow_down        cloudy
2         test_2                           slash_burn    cloudy
3         test_3                        blow_down        cloudy
4         test_4                           slash_burn    cloudy
...          ...                                             ...
61186  file_9995                           slash_burn    cloudy
61187  file_9996              water     blow_down        cloudy
61188  file_9997              water     blow_down        cloudy
61189  file_9998               conventional_mine
61190  file_9999         blow_down   agriculture  haze   cloudy

[61191 rows x 2 columns]

In [31]:
#Finally, we save the result to a csv file using the .to_csv() method and setting the index to false.
last_result.to_csv('submission_submit.csv', index = False)

Thank you ! 

Akshay Satpute

ID: 147ccfd44e01f000